include incl/header.pug
<div class="wrapper">
<div class="page">
<div class="article">
<h1 class = "article-title"> TESTHALLLO </h1>
<table>
    <tr>
        <th>  </th>
        <th> Test1 </th>
        <th> Test2 </th>
        <th> Test3 </th>
    </tr>
    <tr>
        <td> GedN </td>
        <td>  </td>
        <td> gudN </td>
        <td>  </td>
    </tr>
    <tr>
        <td> Fuck </td>
        <td> All </td>
        <td> Of </td>
        <td> You </td>
    </tr>
    <tr>
        <td> Älskar </td>
        <td> Öl </td>
        <td> ! </td>
        <td>  </td>
    </tr>
</table>
</div>
include incl/footer.pug
</div>
</div>
