/**
 * Style
 */

* {margin: 0; padding: 0;}

 .body
 {
    width: 100%;
    height: 100%;
 }

.wrapper
{
  margin: 0 auto;
  width: 50%;
  position: relative;


}

.banner {
    position: relative;
    left: 30%;
    bottom: 65px;
}


.page
{
  width: 100%;
  top: 50px;
  position: absolute;
  padding-left: 20px;
  margin-left: 20px;
  word-wrap: break-word;
  -webkit-box-shadow:-1px 1px 4px #5a5a5a ;
  -moz-box-shadow:-1px 1px 4px  #5a5a5a ;
  box-shadow:-1px 1px 20px 5px #5a5a5a ;
  background-color: rgb(255, 255, 255); /*FALLBACK */
  background-color: rgba(0, 0, 0, 0.1);


}


.article
{
  font-family: 'Volkhov', serif;
  font-size: 20px;
  padding: 20px 20px 20px 20px;

}

.article-title p
{
    font-family: 'Volkhov', serif;
    font-size: 20px;
}

.article-text p
{
    font-family: 'Volkhov', serif;
    font-size: 14px;
}

.footer
{
    background-color: rgba(0,0,0, 0.2);
}


.video
{
    max-width: 100%;
}

#image
{
    box-shadow: 1px 1px 4px 0px black;
    opacity: 0.3;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    max-width: 100%;
}

#image:hover {
opacity: 1.0;
box-shadow: 1px 1px 420px 40px black;
}



.pre
{
    word-wrap: break-word;
    border: 1px solid purple;
    padding: 20px 20px 20px 20px;
    font-size: 14px;
    background-color: lightgrey;

}

input
{
    display: inline-flex;
    margin-bottom: 20px;
}





table
{
  font-size: medium;
    font-family: 'Roboto', serif;
    border-collapse: collapse;
    width: 100%;
}

td, th
{
    border: 1px solid #FFFFFF;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #E6E3D4;
}

.background-image
{

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-image: url('https://wallpaperscraft.com/image/light_faded_background_85547_2560x1440.jpg');
  z-index: -1;
}


.form-style-4{
    font-size: 16px;

    padding: 10px 5px 5px 20px;
    position: relative;
    width: 92%;

}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=password],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #000000;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=password],
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=password]:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}
