include incl/header.pug
<div class="wrapper">
<div class="page">
<div class="article">
h1= message

p <h4>Create a new Account</h4>
p
<form method="post" action="/cashier">
    <input type="hidden" name="id" value="">
    <h6>Creating new empty account </h6> 
    <input type="submit" name="doEdit" value="Create">
</form>
</div>
include incl/footer.pug
</div>
</div>
