<div class="wrapper">
<div class="page">
include incl/header.pug
h1.article-title
h1= message
p.article-text
<h2>Create a new Account Holder</h2>
<form method="post" action="/create">
<p>Name <input type="text" name="newName"> *</p>
<p>SSN<input type="number" name="newSsn"> *</p>
<p>Adress:<input type="text" name="newAdress"> *</p>
<p>City:<input type="text" name="newCity"> *</p>  
<p>PIN(4-digits):<input type="password" name="newPin"> *</p>     
<input type="submit" name="doEdit" value="Create">
</form>

p
    
include incl/footer.pug
</div>
</div>
