include incl/header.pug
<div class="wrapper">
<div class="page">
<div class="article">
h1= message

p <h4>Create a new Account</h4>
p
<form method="post" action="/redirectUser">
p <h5>Account Will be added to your list of personal Accounts.
    <input type="hidden" name="accountId" value=#{param}>
    <input type="submit" name="doEdit" value="Create"></h5>
</form>
</div>
include incl/footer.pug
</div>
</div>
