include incl/header.pug

<div class="wrapper">
<div class="page">
h1.article-title
h1= message
p.article-text
<section>
<p>
<br>

</p>
</section>
<p>

<br>
</p>
<section>
	<a href="/login" data-hover="Login"><span>Login</span></a>
	<a href="/createaccount" data-hover="Create Account"><span>Create Account</span></a>
	<a href="/log" data-hover="Log"><span>Log</span></a>
</section>
<p>
<br>
<br>
</p>
<section>
<img id="image" class="image" src="/img/spidermaracas.gif">
</section>
include incl/footer.pug
</div>
</div>
