include incl/header.pug

<div class="wrapper">
<div class="page">
h1.article-title
h1= message
p.article-text
p  Temporary text:

p
 <img class="image" src="/img/spidermaracas.gif">.

include incl/footer.pug
</div>
</div>
