include incl/header.pug
<div class="wrapper">
<div class="page">
<div class="article">
<h1 class = "article-title"> Accounts view </h1>
<table>
<tr><th>Log Number</th><th>Date</th><th>Id</th><th>Amount</th></tr>
each row, rownum in resultset
    tr
        td= row.id
        td= row.timeWhen
        td= row.accountNumber
        td= row.balanceChanged
</table>
</div>
include incl/footer.pug
</div>
</div>
