include incl/header.pug
<div class="wrapper">
<div class="page">
<div class="article">
h1= message
<h1 class = "article-title"> Login Page </h1>
<form method="post" action="/loginAUTH">
    <input type="hidden" name="id" value="">
    <p>SSN:<input type="text" name="ssn" value=""></p>
    <p>PIN:<input type="password" name="pin" value=""></p>
    <input type="submit" name="doEdit" value="Save">
    <input type="reset" value="Reset">
</form>
</div>
include incl/footer.pug
</div>
</div>
