<div class="wrapper">
<div class="page">
include incl/header.pug
h1.article-title
h1= message
p.article-text
p  <h2>Create a new Account Holder</h2>

<form method="post" action="/home">
<input type="hidden" name="id" value="">
<p>Current Holders:<input type="List" name="name" value=""> *</p>
<p>Date Of Birth<input type="text" name="name" value=""> *</p>
<input type="submit" name="doEdit" value="Save">
<input type="reset" value="Reset">
</form>

p
    
include incl/footer.pug
</div>
</div>
