include incl/header.pug
<div class="wrapper">
<div class="page">
<div class="article">
p <h2> Swish</h2>

p <h5>Input necessary information.</h5>

<form class="form-style-4" method="post" action="/swishing">
    <label for="field1">
    <span>User-id:</span><input type="text" name="fromId" value="" required="true">
    </label>
    <label for="field2">
    <span>Pin-code:</span><input type="password" name="pin" value="" maxlength="4" required="true">
    </label>
    <label for="field3">
    <span>From:</span><input type="text" name="from" value="" required="true">
    </label>
    <label for="field4">
    <span>To:</span><input type="text" name="to" value="" required="true">
    </label>
    <label for="field5">
    <span>Amount:</span><input type="text" name="amount" value="" required="true">
    </label>
    <label>
    <span>&nbsp;</span><input type="submit" name="doEdit" value="Save">
    </label>
</form>

h1= message
</div>
include incl/footer.pug
</div>
</div>
